<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
  </head>
  <body class="d-flex justify-content-center">
    <div class="container mt-5">
      <a href="<%= data[0] %>" class="btn btn-success"><%= data[0] %></a>
    </div>
  </body>
  <script></script>
</html>
